<div class="login-container">
  <div class="login-content">

    <div class="alert alert-danger"
         role="alert"
    *ngIf="massage?.text">
      {{ massage?.text }}
    </div>

    <mat-toolbar class="login-toolbar" color="primary">Ցիտօ դենտ</mat-toolbar>
    <mat-card>
      <form [formGroup]="loginForm" #formDirective="ngForm">
        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="text" matInput placeholder="Username" formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
        </mat-form-field>

        <button [disabled]="loginForm?.invalid"
                (click)="onSubmit(loginForm, formDirective)"
                type="submit"
                mat-raised-button
                color="primary" class="submit-button">
          մուտք
        </button>

      </form>
      <br>
    </mat-card>
  </div>
</div>
