.big-container{
  width: 100%;
  .container{
    width: 80%;
    margin: auto;
    .content{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.user-icon {
  font-size: 50px;
  padding: 20px;
}
