<div class="collapse" id="navbarToggleExternalContent">

  <div class="bg-dark p-4" style="margin: auto; display: flex">


    <div class="right-left"></div>

    <div style=" width: max-content; margin: auto">
      <button class="btn" style="color: white; margin: auto" [routerLink]="'/system/forms'" data-bs-toggle="collapse"
              data-bs-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <div style="display: flex">
          <span class="material-symbols-outlined">forms_apps_script</span>
          Forms
        </div>
      </button>
      <button class="btn" style="color: white; margin: auto" [routerLink]="'/system/add-form'" data-bs-toggle="collapse"
              data-bs-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <div style="display: flex">
          <span class="material-symbols-outlined">forms_add_on</span>
          Add Form
        </div>
      </button>
      <button class="btn" style="color: white; margin: auto" [routerLink]="'/system/calendar'" data-bs-toggle="collapse"
              data-bs-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <div style="display: flex">
          <span class="material-symbols-outlined">calendar_month</span>
          Calendar
        </div>
      </button>

      <button class="btn" style="color: white; margin: auto" [routerLink]="'/system/all-calendar'"
              data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <div style="display: flex">
          <span class="material-symbols-outlined">event_note</span>
          All Calendar
        </div>
      </button>
    </div>

    <div class="right-left">
      <button class="btn" style="color: white" (click)="logaut()">
        <span class="material-symbols-outlined">logout</span>
      </button>
    </div>

  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
